<div class="box">
  <div class="heading">

  </div>
  // <<<.... if user wants to login ...
  <div class="input">
    //1.username
  </div>

  <div class="input">
    //2.password
  </div>
  // ...... else if user wants to register ...
  <div class="input">
    //1. name
  </div>

  <div class="input">
    //2. username
  </div>

  <div class="input">
    //3.password
  </div>

  <div class="input">
    //4.password
  </div>

  <div class="input">
    //5. upload pic
  </div>

  //.... end else

  <div class="subButton">
    //Login
  </div>

  <div class="subButton">
    //Register
  </div>
  
</div>
